# Pintos 빌드 중간 파일 및 산출물
*.o
*.d
*.out
*.bin
*.elf
*.img
*.map
*.lst
*.log
*.qemu
*.raw
*.hex
*.dis
*.dump

# 빌드 디렉터리
**/build/
**/bin/
**/obj/
**/output/
# core dump
core

# 임시 파일
*~
*.swp

# macOS
.DS_Store

# 개인적인 테스트코드 실행용 쉘코드
select_test.sh

.test_config
.test_status

.vscode